body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color:black;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-pic img {
  width: 100%;
  height: auto;
}
.dialog-bubble {
  background: #e7f3fe;
  border: 1px solid #b1d4fc;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  max-width: 350px;
  margin-left: 10px;
  font-size: 14px;
  color: black;
}
.dialog-bubble::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #e7f3fe;
}
.content, .post {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
}

h1 {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;

}

.post {
  display: block;
  margin-bottom: 20px;
}
.image{
  width: 150px; /* Размер изображения поста */
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  background-image: 'blog/profile-pic.jpg';
}



